@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Base styles */
.app {
  background-color: #f5f5f5;
  color: #333;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  position: relative;
  margin-bottom: 2rem;
}

.meal-image {
  width: 100%;
  height: auto; /* Changed to auto for responsive height */
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.inner-content {
  margin-left: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.inner-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.inner-content h2,
.inner-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.inner-content h2 svg,
.inner-content h3 svg {
  margin-right: 0.5rem;
  color: #777;
}

.recipe-details {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.ingredients,
.instructions {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 48%;
}

.ingredients h2,
.instructions h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.ingredients ul {
  list-style: none;
  padding: 0;
}

.ingredients li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.instructions p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.video {
  margin-top: 2rem;
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .inner-content {
    margin-left: 0;
    max-width: 100%;
  }

  .recipe-details {
    display: block;
  }

  .ingredients,
  .instructions {
    width: 100%;
  }
}

/* Media queries for larger screens */
@media (min-width: 1200px) {
  .app {
    padding: 4rem; /* Increase padding for larger screens */
  }

  .inner-content {
    margin-left: 4rem; /* Increase margin for larger screens */
  }
}
